<body>
    <section class="form">
        <h3>Answer the form </h3>
        <form [formGroup]="travelForm">
            <!-- Destination -->
            <span>Destination</span>
            <mat-form-field>
                <mat-label>Destination</mat-label>
                <input matInput formControlName="destination">
            </mat-form-field>
            <!-- Date -->
            <mat-divider></mat-divider>
            <br>
            <span>Date</span>
            <mat-form-field>
                <mat-label>Enter a date range</mat-label>
                <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Start date">
                    <input matEndDate formControlName="end" placeholder="End date">
                </mat-date-range-input>
                <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-date-range-picker #picker></mat-date-range-picker>
            </mat-form-field>
            <!-- Travelers -->
            <mat-divider></mat-divider>
            <br>
            <span>Travelers</span>
            <mat-form-field>
                <mat-label>Number of Travelers</mat-label>
                <input matInput formControlName="nbrTravelers">
            </mat-form-field>
            <!-- environment -->
            <mat-divider></mat-divider>
            <br>
            <span>Environment</span>
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="environment" disableRipple>
                    <mat-option value="ville">ville</mat-option>
                    <mat-option value="campagne">campagne</mat-option>
                    <mat-option value="mer">mer</mat-option>
                    <mat-option value="montagne">montagne</mat-option>
                    <mat-option value="Multiple">Multiple</mat-option>
                </mat-select>
            </mat-form-field>
            <!-- transportation -->
            <mat-divider></mat-divider>
            <br>
            <span>Transportation</span>
            <mat-form-field>
                <mat-label>Select an option</mat-label>
                <mat-select formControlName="transport" disableRipple>
                    <mat-option value="Car">Car</mat-option>
                    <mat-option value="Train">Train</mat-option>
                    <mat-option value="Avion">Avion</mat-option>
                    <mat-option value="Voiture">Voiture</mat-option>
                    <mat-option value="Multiple">Multiple</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <button mat-raised-button color="primary" (click)="submit()" routerLink="/results">
            Show me my todo lists
        </button>
    </section>
    <section class="chatbot">
        <app-chatbot></app-chatbot>
    </section>
</body>